@charset "UTF-8";
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
div.content:first-of-type > section {
  padding-top: 12vh;
}

div.content:first-of-type > section .subMenuList2 {
  padding: 0 3.125vw;
  max-width: 1126px;
}

div.content:first-of-type > section .subMenuList2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

div.content:first-of-type > section .subMenuList2 ul:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

div.content:first-of-type > section .subMenuList2 ul:first-child li {
  margin-right: 2.08vw;
}

div.content:first-of-type > section .subMenuList2 ul:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

div.content:first-of-type > section .subMenuList2 ul:last-child li {
  margin-left: 2.08vw;
}

div.content:first-of-type > section .subMenuList2 ul li {
  font-family: "lush";
  line-height: 11.11vh;
  color: #fff;
  font-size: 2.45em;
  -webkit-transition: color, font-size 0.3s;
  transition: color, font-size 0.3s;
}

div.content:first-of-type > section .subMenuList2 ul li:hover {
  font-size: 3.43em;
  color: #93ED51;
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

div.content:first-of-type > section .subMenuList2 ul li.on {
  font-size: 3.43em;
  color: #93ED51;
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

div.campaign {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

div.campaign .fixed {
  width: 40%;
  background-color: #93ED51;
  border-radius: 30px;
  padding: 5%;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.campaign .fixed h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5em;
  color: #0f0d0d;
  line-height: 1.875em;
}

div.campaign .fixed h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #0f0d0d;
  opacity: 0.6;
  line-height: 1.125em;
  margin-top: 3%;
}

div.campaign .fixed .form {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #707070;
  border-radius: 30px;
  overflow: hidden;
}

div.campaign .fixed .form input {
  border: none;
  line-height: 3.750em;
  border-bottom: solid 1px #707070;
  margin: 0 10%;
}

div.campaign .fixed .form input:last-of-type {
  border-bottom: none;
}

div.campaign .fixed .check {
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #0f0d0d;
  opacity: 0.6;
}

div.campaign .fixed button {
  width: 100%;
  line-height: 3.750em;
  border-radius: 30px;
  border: none;
  background-color: #0f0d0d;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #707070;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

div.campaign .fixed button:hover {
  color: #fff;
}

div.campaign .scroll {
  width: 60%;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}

div.campaign .scroll .img {
  width: 100%;
  /*임시*/
  height: 100vh;
}

div.campaign .scroll .img img {
  height: 100%;
}

div.campaign .scroll .txt {
  padding: 12%;
}

div.campaign .scroll .txt p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #707070;
  line-height: 1.875em;
  font-weight: 300;
  margin-top: 5%;
}

div.campaign .scroll .txt p.stress {
  font-weight: 400;
}
