@charset "UTF-8";
@import url("../css/jquery-ui.css");
@import url("../css/all.css");
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
body {
  background-color: #0f0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  width: 12.5vw;
  background-color: #0f0d0d;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header:hover {
  background-color: #93ED51;
}

header:hover .logo .logo_w {
  display: none;
}

header:hover .logo .logo_b {
  display: block;
}

header:hover .join li a {
  color: #0f0d0d;
}

header .logo {
  width: 100%;
  height: 11.11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .logo img {
  width: 45.83%;
}

header .logo .logo_w {
  display: block;
}

header .logo .logo_b {
  display: none;
}

header .logo a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

header .mainMenuList {
  background-color: #fff;
  border-radius: 31px;
}

header .mainMenuList > li {
  text-align: center;
  background-color: #0f0d0d;
  border-radius: 30px;
  line-height: 5vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .mainMenuList > li a {
  /*폰트 고민*/
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125em;
  color: #fff;
}

header .mainMenuList > li.on {
  background-color: #93ED51;
}

header .mainMenuList > li:hover {
  background-color: #3C6EBE;
  border-radius: 30px;
}

header .mainMenuList > li:hover .subMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.77vh 0;
  border-top: solid 1px #fff;
  width: 83.3%;
  margin: 0 auto;
}

header .mainMenuList > li:hover .subMenuList li a {
  display: block;
  width: 100%;
  line-height: 3.7vh;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

header .mainMenuList > li .subMenuList {
  display: none;
}

header .join {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
}

header .join li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .join li a {
  line-height: 5.5vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875em;
  color: #fff;
}

div.content {
  width: 100%;
}

div.content > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  width: 100%;
  height: 11.1vh;
  padding: 5.55vh 3.125vw 0 3.125vw;
  margin-bottom: 3.7vh;
  color: #fff;
}

div.content > header .location {
  font-size: 0.875em;
  line-height: 5.55vh;
}

div.content > header .cHeaderRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.content > header .cHeaderRight .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.content > header .cHeaderRight .icons li {
  margin-right: 10px;
}

div.content > header .cHeaderRight .icons li img {
  width: 44px;
  height: 44px;
}

div.content > header .cHeaderRight .search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25vw;
  height: 100%;
  border-bottom: 1px solid #fff;
}

div.content > section .subMenuList2 {
  padding: 0 3.125vw;
}

div.content > section .subMenuList2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

div.content > section .subMenuList2 ul:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

div.content > section .subMenuList2 ul:first-child li {
  margin-right: 2.08vw;
}

div.content > section .subMenuList2 ul:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

div.content > section .subMenuList2 ul:last-child li {
  margin-left: 2.08vw;
}

div.content > section .subMenuList2 ul li {
  font-family: "lush";
  line-height: 11.11vh;
  color: #fff;
  font-size: 2.45em;
  -webkit-transition: color,font-size 0.3s;
  transition: color,font-size 0.3s;
}

div.content > section .subMenuList2 ul li:hover {
  font-size: 3.43em;
  color: #93ED51;
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

div.content > section .subMenuList2 ul li.on {
  font-size: 3.43em;
  color: #93ED51;
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

div.content > section .details > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin: 3.7vh 3.125vw 0;
  height: 5.8vh;
}

div.content > section .details > ul li a {
  display: block;
  line-height: 5.55vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2.08vw;
  color: #fff;
  background-color: #0f0d0d;
  border: 1px solid #fff;
  border-radius: 30px;
}

div.content > section .details > ul li a:hover {
  background-color: #3C6EBE;
  font-weight: bold;
}

div.content > section .details > ul li.on a {
  background-color: #93ED51;
  color: #0f0d0d;
  font-weight: bold;
}

div.content > section .filter > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3.125vw;
}

div.content > section .filter > ul li {
  color: #fff;
  line-height: 5.55vh;
}
