@charset "UTF-8";
@import url("../css/jquery-ui.css");
@import url("../css/all.css");
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
body {
  background-color: #0f0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > header {
  width: 240px;
  background-color: #0f0d0d;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
}

body > header:hover {
  background-color: #93ED51;
}

body > header:hover .logo .logo_w {
  display: none;
}

body > header:hover .logo .logo_b {
  display: block;
}

body > header:hover .join li a {
  color: #0f0d0d;
}

body > header .logo {
  width: 100%;
  height: 11.11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body > header .logo img {
  width: 45.83%;
}

body > header .logo .logo_w {
  display: block;
}

body > header .logo .logo_b {
  display: none;
}

body > header .logo a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

body > header .mainMenuList {
  background-color: #fff;
  border-radius: 31px;
}

body > header .mainMenuList > li {
  text-align: center;
  background-color: #0f0d0d;
  border-radius: 30px;
  line-height: 5vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body > header .mainMenuList > li a {
  /*폰트 고민*/
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125em;
  color: #fff;
}

body > header .mainMenuList > li.on {
  background-color: #93ED51;
}

body > header .mainMenuList > li:hover {
  background-color: #3C6EBE;
  border-radius: 30px;
}

body > header .mainMenuList > li:hover .subMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.77vh 0;
  border-top: solid 1px #fff;
  width: 83.3%;
  margin: 0 auto;
}

body > header .mainMenuList > li:hover .subMenuList li a {
  display: block;
  width: 100%;
  line-height: 3.7vh;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

body > header .mainMenuList > li .subMenuList {
  display: none;
}

body > header .join {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
}

body > header .join li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > header .join li a {
  line-height: 5.5vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875em;
  color: #fff;
}

body div.content {
  width: 100%;
  padding-left: 240px;
}

body div.content > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  width: 100%;
  height: 11.1vh;
  padding: 5.55vh 3.125vw 0 3.125vw;
  margin-bottom: 3.7vh;
  color: #fff;
}

body div.content > header .location {
  font-size: 0.875em;
  line-height: 5.55vh;
}

body div.content > header .cHeaderRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div.content > header .cHeaderRight .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div.content > header .cHeaderRight .icons li {
  margin-right: 10px;
}

body div.content > header .cHeaderRight .icons li img {
  width: 44px;
  height: 44px;
}

body div.content > header .cHeaderRight .search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25vw;
  height: 100%;
  border-bottom: 1px solid #fff;
}

body div.content.products section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

body div.content.products section article {
  width: 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  -ms-grid-rows: calc(5fr - 3px) 1fr 1fr 1fr;
      grid-template-rows: calc(5fr - 3px) 1fr 1fr 1fr;
  line-height: 3.750em;
  border: solid 1px #fff;
}

body div.content.products section article .img {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  position: relative;
  background-color: #fff;
}

body div.content.products section article .img img {
  height: 100%;
}

body div.content.products section article .img a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body div.content.products section article .pName {
  grid-column: span 2;
  text-align: center;
  font-family: "lush";
  font-size: 1.688em;
  color: #fff;
}

body div.content.products section article .img, body div.content.products section article .pName, body div.content.products section article .cate, body div.content.products section article .like {
  border-bottom: solid 1px #fff;
}

body div.content.products section article span:not(.pName) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  letter-spacing: 3px;
}

body div.content.products section article .cate, body div.content.products section article .price {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-right: solid 1px #fff;
}

body div.content.products section article i {
  cursor: pointer;
  font-size: 1.313em;
}

.contentWrap {
  width: 100%;
  height: 200vh;
}

.contentWrap .content {
  width: 100%;
  margin-top: 120px;
}

.contentWrap .content header {
  display: block;
  text-align: center;
  height: inherit;
  padding: 0;
  margin: 0;
}

.contentWrap .content header h2 {
  font-family: "lush";
  font-size: 3.438em;
  color: #fff;
  line-height: 120px;
}

.contentWrap .content header h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.125em;
  color: #fff;
  line-height: 3.750em;
}

.contentWrap .content.lips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 37.500em;
}

.contentWrap .content.lips header {
  width: 50%;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: start;
  padding: 30px;
}

.contentWrap .content.lips header::before {
  z-index: -10;
  opacity: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../images/lips.jpeg);
  background-repeat: no-repeat;
  background-size: 110vh;
  background-position: center;
}

.contentWrap .content.lips header h2 {
  color: #93ED51;
}

.contentWrap .content.lips header h3 {
  color: #93ED51;
  font-weight: 300;
}

.contentWrap .content.lips section {
  width: 50%;
  border-radius: 30px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.lips section ul.lip_tabContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: solid 1px #fff;
}

.contentWrap .content.lips section ul.lip_tabContent li {
  display: none;
}

.contentWrap .content.lips section ul.lip_tabContent li.on {
  display: block;
}

.contentWrap .content.lips section ul.lip_tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.contentWrap .content.lips section ul.lip_tabMenu li a {
  line-height: 40px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #c8c8c8;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  height: 100%;
  width: 100%;
}

.contentWrap .content.lips section ul.lip_tabMenu li.on a {
  line-height: 180px;
  color: #93ED51;
  font-size: 18px;
  letter-spacing: 1px;
}
