@charset "UTF-8";
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
.contentWrap {
  width: 100%;
}

.contentWrap .content {
  width: 100%;
  padding-top: 120px;
}

.contentWrap .content header {
  position: inherit;
  width: 100%;
  display: block;
  text-align: center;
  height: inherit;
  padding: 0;
  margin: 0;
}

.contentWrap .content header h2 {
  font-family: "lush";
  font-size: 2.625em;
  color: #fff;
  line-height: 7.4vh;
}

.contentWrap .content header h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
  color: #fff;
  line-height: 3.125em;
  font-weight: 400;
  font-weight: 400;
  opacity: 0.7;
}

.contentWrap .content > section {
  margin-top: 30px;
}

.contentWrap .content.main {
  padding-top: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrap .content.main main {
  width: 60%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.contentWrap .content.main main .slider {
  height: 60%;
  overflow: hidden;
}

.contentWrap .content.main main .slider img {
  height: 100%;
}

.contentWrap .content.main main header {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  overflow: hidden;
  padding: 3vw 0;
}

.contentWrap .content.main main header h2 {
  color: #0f0d0d;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 3vw;
}

.contentWrap .content.main main header div {
  padding: 0 3vw;
  border-left: solid 1px #000;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.contentWrap .content.main main header div h3,
.contentWrap .content.main main header div p,
.contentWrap .content.main main header div button {
  color: #0f0d0d;
  line-height: 1.875em;
}

.contentWrap .content.main main header div p {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #707070;
  font-weight: 300;
}

.contentWrap .content.main main header div button {
  border-color: #0f0d0d;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contentWrap .content.main .articleWrap {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentWrap .content.main .articleWrap article {
  background-color: #fff;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contentWrap .content.main .articleWrap article .txt {
  width: 80%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vh 3vw;
  border-right: solid 1px #0f0d0d;
}

.contentWrap .content.main .articleWrap article .txt h4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.313em;
  color: #0f0d0d;
}

.contentWrap .content.main .articleWrap article .txt p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #0f0d0d;
  color: #000;
  font-weight: 300;
}

.contentWrap .content.main .articleWrap article .btn {
  width: 20%;
  height: 20%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
  position: relative;
  /*.btn에 호버할 시 효과 시작*/
}

.contentWrap .content.main .articleWrap article .btn button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.main .articleWrap article .btn button span {
  color: #0f0d0d;
}

.contentWrap .content.main .articleWrap article .btn::after {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  content: "";
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #0f0d0d;
  border-radius: 50%;
  cursor: pointer;
}

.contentWrap .content.main .articleWrap article .btn:hover button > span {
  color: #fff;
  z-index: 10;
  font-size: 1.125em;
}

.contentWrap .content.main .articleWrap article .btn:hover::after {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.contentWrap .content.main .articleWrap article .img {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.contentWrap .content.main .articleWrap article .img img {
  height: 100%;
}

.contentWrap .content.lips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrap .content.lips header {
  width: 50%;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vw;
}

.contentWrap .content.lips header::before {
  z-index: -10;
  opacity: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../images/lips.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.contentWrap .content.lips header .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: start;
}

.contentWrap .content.lips header .texts h2 {
  color: #93ED51;
}

.contentWrap .content.lips header .texts h3 {
  color: #93ED51;
  font-weight: 300;
}

.contentWrap .content.lips header button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contentWrap .content.lips section {
  width: 50%;
  border-radius: 30px;
  padding: 3vw 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.lips section ul.lip_tabContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: solid 1px #fff;
}

.contentWrap .content.lips section ul.lip_tabContent li {
  display: none;
}

.contentWrap .content.lips section ul.lip_tabContent li.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.lips section ul.lip_tabContent li.on img {
  width: 70%;
}

.contentWrap .content.lips section ul.lip_tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.contentWrap .content.lips section ul.lip_tabMenu li a {
  line-height: 40px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875em;
  color: #c8c8c8;
  font-weight: 300;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  height: 100%;
  width: 100%;
}

.contentWrap .content.lips section ul.lip_tabMenu li a:hover {
  color: #93ED51;
}

.contentWrap .content.lips section ul.lip_tabMenu li.on a {
  line-height: 140px;
  color: #93ED51;
  font-size: 18px;
  letter-spacing: 1px;
}

.contentWrap .content.about ul.tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrap .content.about ul.tabMenu li {
  width: 50%;
  border-radius: 0 30px 0 0;
  border: 1px solid #fff;
  cursor: pointer;
}

.contentWrap .content.about ul.tabMenu li:hover h2,
.contentWrap .content.about ul.tabMenu li:hover h3,
.contentWrap .content.about ul.tabMenu li:hover button {
  color: #fff;
}

.contentWrap .content.about ul.tabMenu li:hover button {
  border: solid 1px #fff;
}

.contentWrap .content.about ul.tabMenu li.on {
  cursor: default;
  background-color: #fff;
  border-radius: 30px 0 0 0;
}

.contentWrap .content.about ul.tabMenu li.on h2,
.contentWrap .content.about ul.tabMenu li.on h3,
.contentWrap .content.about ul.tabMenu li.on button {
  color: #0f0d0d;
}

.contentWrap .content.about ul.tabMenu li.on button {
  border: solid 1px #0f0d0d;
}

.contentWrap .content.about ul.tabMenu li h2,
.contentWrap .content.about ul.tabMenu li h3,
.contentWrap .content.about ul.tabMenu li button {
  color: #707070;
}

.contentWrap .content.about ul.tabMenu li button {
  border: solid 1px #707070;
}

.contentWrap .content.about ul.tabMenu li header {
  padding: 3vw;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contentWrap .content.about ul.tabMenu li header .texts h3 {
  line-height: 1.875em;
}

.contentWrap .content.about ul.tabContent {
  padding: 3vw;
  border-radius: 0 0 30px 30px;
  border: 1px solid #fff;
}

.contentWrap .content.about ul.tabContent > li {
  display: none;
}

.contentWrap .content.about ul.tabContent > li.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.about ul.tabContent > li.on .image {
  width: 40%;
  height: 40vh;
  background-image: url(../images/weAreLush_01.jpeg);
  background-repeat: no-repeat;
}

.contentWrap .content.about ul.tabContent > li.on ul:last-of-type li {
  text-align: end;
}

.contentWrap .content.about ul.tabContent > li.on ul li span {
  line-height: 3.125em;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #fff;
}

.contentWrap .content.bestReview section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrap .content.bestReview section article {
  width: 25%;
  position: relative;
}

.contentWrap .content.bestReview section article .img {
  width: 100%;
  height: 15.000em;
  border-radius: 30px;
  background-color: #fff;
  padding: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.bestReview section article .img img {
  height: 100%;
}

.contentWrap .content.bestReview section article .txt {
  border-radius: 30px;
  background-color: #fff;
  padding: 3vw;
}

.contentWrap .content.bestReview section article .txt span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  color: #707070;
}

.contentWrap .content.bestReview section article .txt .pName {
  text-align: start;
  font-family: "lush";
  font-size: 1.688em;
  color: #0f0d0d;
  line-height: 1.875em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.contentWrap .content.bestReview section article .txt .cate {
  line-height: 1.125em;
}

.contentWrap .content.bestReview section article .txt .reviewTxt {
  margin-top: 1.875em;
  font-size: 1.125em;
  line-height: 1.875em;
  height: 1.875em;
  color: #0f0d0d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.contentWrap .content.bestReview section article .txt .btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  line-height: 30px;
}

.contentWrap .content.bestReview section article .txt .btm .stars i {
  color: #707070;
}

.contentWrap .content.bestReview section article a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}
