@charset "UTF-8";
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
.contentWrap {
  width: 100%;
}

.contentWrap .content {
  width: 100%;
  padding-top: 160px;
}

.contentWrap .content header {
  position: inherit;
  width: 100%;
  display: block;
  text-align: center;
  height: inherit;
  padding: 0;
  margin: 0;
}

.contentWrap .content header h2 {
  font-family: "lush";
  font-size: 2.625em;
  color: #fff;
  line-height: 7.4vh;
}

.contentWrap .content header h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
  color: #fff;
  line-height: 3.125em;
  font-weight: 400;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 10px;
}

.contentWrap .content > section {
  margin-top: 1.875em;
}

.contentWrap .content.main {
  padding-top: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrap .content.main main {
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.contentWrap .content.main main .frame {
  height: 100%;
  border-radius: 1.875em;
  overflow: hidden;
}

.contentWrap .content.main main .frame ul.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.contentWrap .content.main main .frame ul.slider > button {
  position: absolute;
  top: 30%;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 3%;
  height: 3%;
  z-index: 1000;
}

.contentWrap .content.main main .frame ul.slider > button.slick-prev {
  z-index: 100;
  left: 3%;
}

.contentWrap .content.main main .frame ul.slider > button.slick-prev::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/left-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.contentWrap .content.main main .frame ul.slider > button.slick-next {
  right: 3%;
}

.contentWrap .content.main main .frame ul.slider > button.slick-next::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/right-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.contentWrap .content.main main .frame ul.slider li {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentWrap .content.main main .frame ul.slider li div.img {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  border-radius: 1.875em;
}

.contentWrap .content.main main .frame ul.slider li div.img img {
  width: 100%;
}

.contentWrap .content.main main .frame ul.slider li .sliderTxt {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0f0d0d;
  overflow: hidden;
  padding: 3vw 0;
}

.contentWrap .content.main main .frame ul.slider li .sliderTxt h2 {
  font-family: "lush";
  font-size: 2.625em;
  color: #fff;
  line-height: 8.325vh;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 3vw;
}

.contentWrap .content.main main .frame ul.slider li .sliderTxt div {
  padding: 0 3vw;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.contentWrap .content.main main .frame ul.slider li .sliderTxt div h3,
.contentWrap .content.main main .frame ul.slider li .sliderTxt div p,
.contentWrap .content.main main .frame ul.slider li .sliderTxt div button {
  color: #fff;
  line-height: 1.875em;
}

.contentWrap .content.main main .frame ul.slider li .sliderTxt div p {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #707070;
  font-weight: 300;
}

.contentWrap .content.main main .frame ul.slider li .sliderTxt div button {
  border-color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contentWrap .content.main .articleWrap {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentWrap .content.main .articleWrap article {
  overflow: hidden;
  background-color: #0f0d0d;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2vh 3vw;
}

.contentWrap .content.main .articleWrap article .txt {
  width: 80%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2vh;
}

.contentWrap .content.main .articleWrap article .txt h4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  color: #fff;
}

.contentWrap .content.main .articleWrap article .txt p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #fff;
  font-weight: 300;
}

.contentWrap .content.main .articleWrap article .btn {
  width: 20%;
}

.contentWrap .content.main .articleWrap article .btn button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contentWrap .content.main .articleWrap article .btn button span {
  color: #fff;
}

.contentWrap .content.main .articleWrap article .img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 1.875em;
}

.contentWrap .content.main .articleWrap article .img img {
  width: 100%;
}

.contentWrap .content.bestProduct section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 5%;
}

.contentWrap .content.bestProduct section > button {
  display: none !important;
}

.contentWrap .content.bestProduct section ul.slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.bestProduct section ul.slick-dots li {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contentWrap .content.bestProduct section ul.slick-dots li:hover button {
  border: none;
  background-color: #fff;
}

.contentWrap .content.bestProduct section ul.slick-dots li button {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-size: 0px;
  color: transparent;
  border: solid 1px #fff;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.contentWrap .content.bestProduct section ul.slick-dots li.slick-active {
  width: 50px;
}

.contentWrap .content.bestProduct section ul.slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

.contentWrap .content.bestProduct section article .img img:first-of-type {
  height: 70%;
}

.contentWrap .content.bestProduct section article .img img:last-of-type {
  height: 100%;
  display: none;
}

.contentWrap .content.bestProduct section article .img:hover img:first-of-type {
  display: none;
}

.contentWrap .content.bestProduct section article .img:hover img:last-of-type {
  display: block;
}

.contentWrap .content.lips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
}

.contentWrap .content.lips header {
  height: 50vh;
  width: 50%;
  border-radius: 1.875em;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vw;
}

.contentWrap .content.lips header::before {
  z-index: -10;
  opacity: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../images/lips.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.contentWrap .content.lips header .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: start;
}

.contentWrap .content.lips header .texts h2 {
  color: #93ED51;
}

.contentWrap .content.lips header .texts h3 {
  color: #93ED51;
  font-weight: 300;
}

.contentWrap .content.lips header button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contentWrap .content.lips section {
  height: 50vh;
  width: 50%;
  border-radius: 1.875em;
  padding: 3vw 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contentWrap .content.lips section .tab_content_wrap {
  width: 50%;
  height: 100%;
  position: relative;
}

.contentWrap .content.lips section .tab_content_wrap ul.lip_tabContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contentWrap .content.lips section .tab_content_wrap ul.lip_tabContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.contentWrap .content.lips section .tab_content_wrap ul.lip_tabContent li img {
  width: 70%;
}

.contentWrap .content.lips section .tab_content_wrap ul.lip_tabContent li.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.contentWrap .content.lips section ul.lip_tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  border-left: solid 1px #fff;
}

.contentWrap .content.lips section ul.lip_tabMenu li a {
  line-height: 40px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875em;
  color: #c8c8c8;
  font-weight: 300;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  height: 100%;
  width: 100%;
}

.contentWrap .content.lips section ul.lip_tabMenu li a:hover {
  color: #93ED51;
}

.contentWrap .content.lips section ul.lip_tabMenu li.on a {
  line-height: 140px;
  color: #93ED51;
  font-size: 18px;
  letter-spacing: 1px;
}

.contentWrap .content.about ul.tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrap .content.about ul.tabMenu li {
  width: 50%;
  border-radius: 0 1.875em 0 0;
  border: 1px solid #fff;
  cursor: pointer;
}

.contentWrap .content.about ul.tabMenu li:hover h2,
.contentWrap .content.about ul.tabMenu li:hover h3,
.contentWrap .content.about ul.tabMenu li:hover button {
  color: #fff;
}

.contentWrap .content.about ul.tabMenu li:hover button {
  border: solid 1px #fff;
}

.contentWrap .content.about ul.tabMenu li.on {
  cursor: default;
  background-color: #fff;
  border-radius: 1.875em 0 0 0;
}

.contentWrap .content.about ul.tabMenu li.on h2,
.contentWrap .content.about ul.tabMenu li.on h3,
.contentWrap .content.about ul.tabMenu li.on button {
  color: #0f0d0d;
}

.contentWrap .content.about ul.tabMenu li.on button {
  border: solid 1px #0f0d0d;
}

.contentWrap .content.about ul.tabMenu li h2,
.contentWrap .content.about ul.tabMenu li h3,
.contentWrap .content.about ul.tabMenu li button {
  color: #707070;
}

.contentWrap .content.about ul.tabMenu li button {
  border: solid 1px #707070;
}

.contentWrap .content.about ul.tabMenu li header {
  padding: 3vw;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contentWrap .content.about ul.tabMenu li header .texts h3 {
  line-height: 1.875em;
}

.contentWrap .content.about ul.tabContent {
  padding: 3vw;
  border-radius: 0 0 1.875em 1.875em;
  border: 1px solid #fff;
}

.contentWrap .content.about ul.tabContent > li {
  display: none;
}

.contentWrap .content.about ul.tabContent > li.on {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.contentWrap .content.about ul.tabContent > li.on .txt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentWrap .content.about ul.tabContent > li.on .txt li.on span {
  color: #93ED51;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contentWrap .content.about ul.tabContent > li.on .txt li span {
  line-height: 3.125em;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875em;
  color: #fff;
}

.contentWrap .content.about ul.tabContent > li.on .imgBox {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -10;
}

.contentWrap .content.about ul.tabContent > li.on .imgBox .img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: inherit;
  width: 40%;
  height: 60%;
  background-image: url(../images/about_1.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contentWrap .content.bestReview section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contentWrap .content.bestReview section button {
  display: none !important;
}

.contentWrap .content.bestReview section article {
  width: 25%;
  position: relative;
}

.contentWrap .content.bestReview section article .img {
  width: 100%;
  height: 15.000em;
  border-radius: 1.875em;
  background-color: #fff;
  padding: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrap .content.bestReview section article .img img {
  height: 70%;
}

.contentWrap .content.bestReview section article .txt {
  border-radius: 1.875em;
  background-color: #fff;
  padding: 3vw;
}

.contentWrap .content.bestReview section article .txt span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  color: #707070;
}

.contentWrap .content.bestReview section article .txt .pName {
  text-align: start;
  font-family: "lush";
  font-size: 1.688em;
  color: #0f0d0d;
  line-height: 1.875em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.contentWrap .content.bestReview section article .txt .cate {
  line-height: 1.125em;
}

.contentWrap .content.bestReview section article .txt .reviewTxt {
  margin-top: 1.875em;
  font-size: 1.125em;
  line-height: 1.875em;
  height: 1.875em;
  color: #0f0d0d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.contentWrap .content.bestReview section article .txt .btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.875em;
  line-height: 1.875em;
}

.contentWrap .content.bestReview section article .txt .btm .stars i {
  color: #707070;
}

.contentWrap .content.bestReview section article a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}

@media screen and (max-width: 1024px) {
  body header {
    display: none;
  }
  body .contentWrap .content.main {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
  }
  body .contentWrap .content.main main {
    width: 100%;
  }
  body .contentWrap .content.main main .slick-list,
  body .contentWrap .content.main main .slick-track {
    height: 100% !important;
  }
  body .contentWrap .content.main main li {
    width: 100%;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .contentWrap .content.main main li .sliderTxt {
    position: absolute;
    background-color: transparent !important;
    height: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    padding: 3vw !important;
  }
  body .contentWrap .content.main main li .sliderTxt h2 {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  body .contentWrap .content.main main li .sliderTxt p {
    color: #fff !important;
  }
  body .contentWrap .content.main main li .sliderTxt div {
    width: auto;
    height: auto !important;
  }
  body .contentWrap .content.main .articleWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .contentWrap .content.main .articleWrap article {
    width: 50%;
  }
  body .contentWrap .content.about ul.tabMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .contentWrap .content.about ul.tabMenu li:not(.on) {
    display: none;
  }
  body .contentWrap .content.about ul.tabMenu li.on {
    width: 100%;
    border-radius: 1.875em 1.875em 0 0;
  }
}

@media screen and (max-width: 768px) {
  body .contentWrap .content.lips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 50vh;
  }
  body .contentWrap .content.lips header {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .contentWrap .content.lips header button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  body .contentWrap .content.lips section {
    width: 100%;
  }
}
