@charset "UTF-8";
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
div.top > .topSub_B .details > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.7vh 3.125vw 0;
  background-color: #fff;
  border-radius: 1.875em;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: auto;
}

div.top > .topSub_B .details > ul li a {
  display: block;
  line-height: 5.55vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
  background-color: #0f0d0d;
  border: 1px solid #fff;
  border-radius: 1.875em;
  font-size: 1em;
}

div.top > .topSub_B .details > ul li a:hover {
  background-color: #3C6EBE;
  font-weight: bold;
}

div.top > .topSub_B .details > ul li.on a {
  background-color: #93ED51;
  color: #0f0d0d;
  font-weight: bold;
}

div.top > .topSub_B .filter {
  padding: 0 3.125vw;
}

div.top > .topSub_B .filter .filterTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.top > .topSub_B .filter .filterTitle li {
  color: #fff;
  line-height: 3.75em;
  cursor: pointer;
}

div.top > .topSub_B .filter .filterSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

div.top > .topSub_B .filter .filterSlider > li h4 {
  font-weight: bold;
  font-size: 1em;
  line-height: 2.45em;
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails ul li::before {
  content: '○ ';
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails ul li.on::before {
  content: '● ';
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails ul li {
  cursor: pointer;
  font-size: 0.875em;
  line-height: 2.45em;
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails ul li.on {
  color: #93ED51;
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails ul li:hover {
  color: #93ED51;
}

div.top > .topSub_B .filter .filterSlider > li .filterDetails ul:not(:last-child) {
  margin-right: 3.125vw;
}

div.top > .topSub_B .filter .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

div.top > .topSub_B .filter .order li::before {
  content: '○ ';
}

div.top > .topSub_B .filter .order li.on::before {
  content: '● ';
}

div.top > .topSub_B .filter .order li {
  cursor: pointer;
  font-size: 0.875em;
  line-height: 2.45em;
}

div.top > .topSub_B .filter .order li.on {
  color: #93ED51;
}

div.top > .topSub_B .filter .order li:hover {
  color: #93ED51;
}

.products section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products i.fa-heart {
  color: #93ED51;
}

.products div.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.75em 0;
}

.products div.more button {
  background-color: #93ED51;
  padding: 0 4.16vw;
  line-height: 2.5em;
  color: #0f0d0d;
  font-size: 1.125em;
  border-radius: 1.875em;
  border: none;
  cursor: pointer;
}

.products div.more button:hover {
  background-color: #3C6EBE;
  color: #fff;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

@media screen and (max-width: 1024px) {
  body .products section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .products section article {
    width: calc(100% / 3) !important;
  }
  body .products div.more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3.75em 0;
  }
  body .products div.more button {
    background-color: #93ED51;
    padding: 0 4.16vw;
    line-height: 2.5em;
    color: #0f0d0d;
    font-size: 1.125em;
    border-radius: 1.875em;
    border: none;
    cursor: pointer;
  }
  body .products div.more button:hover {
    background-color: #3C6EBE;
    color: #fff;
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  body > div.top > .topSub_B .filter .filterSlider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body > div.top > .topSub_B .filter .filterSlider > li {
    width: 100%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 768px) {
  body .products section article {
    width: calc(100% / 2) !important;
  }
}
