@charset "UTF-8";
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.content > section .subMenuList2 {
  padding: 0 3.125vw;
}

div.content > section .subMenuList2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

div.content > section .subMenuList2 ul:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

div.content > section .subMenuList2 ul:first-child li {
  margin-right: 2.08vw;
}

div.content > section .subMenuList2 ul:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

div.content > section .subMenuList2 ul:last-child li {
  margin-left: 2.08vw;
}

div.content > section .subMenuList2 ul li {
  font-family: "lush";
  line-height: 11.11vh;
  color: #fff;
  font-size: 2.45em;
  -webkit-transition: color,font-size 0.3s;
  transition: color,font-size 0.3s;
}

div.content > section .subMenuList2 ul li:hover {
  font-size: 3.43em;
  color: #93ED51;
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

div.content > section .subMenuList2 ul li.on {
  font-size: 3.43em;
  color: #93ED51;
  background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

div.content > section .details > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin: 3.7vh 3.125vw 0;
  height: 5.8vh;
}

div.content > section .details > ul li a {
  display: block;
  line-height: 5.55vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2.08vw;
  color: #fff;
  background-color: #0f0d0d;
  border: 1px solid #fff;
  border-radius: 30px;
}

div.content > section .details > ul li a:hover {
  background-color: #3C6EBE;
  font-weight: bold;
}

div.content > section .details > ul li.on a {
  background-color: #93ED51;
  color: #0f0d0d;
  font-weight: bold;
}

div.content > section .filter {
  padding: 0 3.125vw;
}

div.content > section .filter .filterTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

div.content > section .filter .filterTitle li {
  color: #fff;
  line-height: 5.55vh;
  cursor: pointer;
}

div.content > section .filter .filterSlider {
  padding: 2.77vh 0;
}

div.content > section .filter .filterSlider > li h4 {
  font-weight: bold;
  font-size: 1em;
}

div.content > section .filter .filterSlider > li .filterDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.content > section .filter .filterSlider > li .filterDetails ul li::before {
  content: '○ ';
}

div.content > section .filter .filterSlider > li .filterDetails ul li.on::before {
  content: '● ';
}

div.content > section .filter .filterSlider > li .filterDetails ul li {
  cursor: pointer;
  font-size: 0.875em;
  line-height: 40px;
}

div.content > section .filter .filterSlider > li .filterDetails ul li.on {
  color: #93ED51;
}

div.content > section .filter .filterSlider > li .filterDetails ul li:hover {
  color: #93ED51;
}

div.content > section .filter .filterSlider > li .filterDetails ul:not(:last-child) {
  margin-right: 3.125vw;
}
