@charset "UTF-8";
/*폰트어썸*/
/*색상변수 시작*/
/*font 시작*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  src: url(../font/Lush.ttf);
  font-family: "lush";
}

/*font-family mixins*/
/*font 믹신을 include할 때 (폰트)*/
.pMain section {
  padding-top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pMain section .imageWrap {
  width: 60%;
  height: calc(100vh - 12vh);
  overflow: hidden;
  position: relative;
}

.pMain section .imageWrap .images {
  position: absolute;
  top: calc((100vh - 12vh) * -5);
  width: 100%;
  height: calc((100vh - 12vh) * 6);
}

.pMain section .imageWrap .images .image {
  width: 100%;
  height: calc(100vh - 12vh);
  background-repeat: no-repeat;
  background-size: cover;
}

.pMain section .imageWrap .images .image.i1 {
  background-image: url(../images/snowfairy.main1.png);
}

.pMain section .imageWrap .images .image.i2 {
  background-image: url(../images/snowfairy.main2.png);
}

.pMain section .imageWrap .images .image.i3 {
  background-image: url(../images/snowfairy.main3.png);
}

.pMain section .imageWrap .images .image.i4 {
  background-image: url(../images/snowfairy.main4.png);
}

.pMain section .imageWrap .images .image.i5 {
  background-image: url(../images/snowfairy.main5.png);
}

.pMain section .imageWrap .images .image.i6 {
  background-image: url(../images/snowfairy.main6.png);
}

.pMain section .imageWrap ul.imgBtns {
  position: absolute;
  top: 1px;
  right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pMain section .imageWrap ul.imgBtns li {
  width: 6.25vw;
  min-width: 90px;
}

.pMain section .imageWrap ul.imgBtns li.on img {
  border: 2px solid #93ED51;
  opacity: 1;
}

.pMain section .imageWrap ul.imgBtns li img {
  width: 100%;
  height: 100%;
  border-radius: 1.875em;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.pMain section .imageWrap ul.imgBtns li img:hover {
  opacity: 1;
  border: 2px solid #93ED51;
}

.pMain section .disc {
  position: fixed;
  right: 0;
  width: calc((100% - 12.5vw) / 10 * 4);
  height: clac(88vh);
  min-width: 463px;
}

.pMain section .disc .pTitle {
  height: 18vh;
  min-height: 140px;
  background-color: #0f0d0d;
  border-radius: 0 1.875em 1.875em 0;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875em;
}

.pMain section .disc .pTitle .txt h3 {
  font-family: "lush";
  font-size: 1.8em;
  color: #fff;
  line-height: 1.8em;
}

.pMain section .disc .pTitle .txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3125em;
}

.pMain section .disc .pTitle .txt ul li {
  font-size: 1em;
  color: #ccc;
  margin-right: 1em;
  line-height: 1em;
}

.pMain section .disc .pTitle .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pMain section .disc .pTitle .icons li {
  font-size: 1.5em;
  margin-left: 10px;
  line-height: 2.5em;
}

.pMain section .disc .pOptions {
  height: 70vh;
  border-radius: 0 1.875em 1.875em 0;
  background-color: #fff;
  padding: 1.875em;
  overflow: auto;
}

.pMain section .disc .pOptions article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pMain section .disc .pOptions article .txts p {
  color: #0f0d0d;
  font-size: 0.875em;
  margin-bottom: 1em;
}

.pMain section .disc .pOptions article .txts p strong {
  color: #0f0d0d;
  font-weight: bold;
}

.pMain section .disc .pOptions article .txts p span {
  color: #6F7070;
}

.pMain section .disc .pOptions article .txts > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5em;
}

.pMain section .disc .pOptions article .txts > ul li {
  height: 0.875em;
  line-height: 1.25em;
  font-size: 1.125em;
  color: #0f0d0d;
  margin-right: 5px;
}

.pMain section .disc .pOptions article .txts > ul li img {
  height: 100%;
}

.pMain section .disc .pOptions article .image img {
  width: 8em;
}

.pMain section .disc .pOptions .amounts > span {
  color: #6F7070;
  font-size: 0.875em;
}

.pMain section .disc .pOptions .amounts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625em;
}

.pMain section .disc .pOptions .amounts ul li {
  background-color: #fff;
  border-top: 1px solid #0f0d0d;
  border-bottom: 1px solid #0f0d0d;
  padding-right: 0.625em;
  cursor: pointer;
}

.pMain section .disc .pOptions .amounts ul li:first-child {
  border-radius: 1.875em 0 0 1.875em;
}

.pMain section .disc .pOptions .amounts ul li:last-child {
  padding-right: 0;
  border-radius: 0 1.875em 1.875em 0;
}

.pMain section .disc .pOptions .amounts ul li > span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1.875em;
  line-height: 2.25em;
  font-size: 0.875em;
  padding: 0 1.5em;
  background-color: #0f0d0d;
  color: #fff;
}

.pMain section .disc .pOptions .amounts ul li.on span {
  background-color: #93ED51;
  color: #0f0d0d;
}

.pMain section .disc .pOptions .selected {
  border-top: 1px solid #0f0d0d;
  border-bottom: 1px solid #0f0d0d;
  margin-top: 1.25em;
  padding: 0.625em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pMain section .disc .pOptions .selected .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15em;
  border-radius: 1.875em;
  padding: 0.3125em;
  border: 1px solid #0f0d0d;
}

.pMain section .disc .pOptions .selected .count li {
  height: 1.625em;
  color: #0f0d0d;
  line-height: 1.625em;
}

.pMain section .disc .pOptions .selected .count li:nth-child(2n+1) {
  cursor: pointer;
}

.pMain section .disc .pOptions .selected span {
  color: #0f0d0d;
  line-height: 1.625em;
  height: 1.625em;
}

.pMain section .disc .pOptions .selected > img {
  cursor: pointer;
}

.pMain section .disc .pOptions .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.25em 0;
}

.pMain section .disc .pOptions .prices > li {
  margin: 0.3125em 0;
}

.pMain section .disc .pOptions .prices > li span {
  color: #0f0d0d;
  font-size: 0.875em;
}

.pMain section .disc .pOptions .prices > li strong {
  color: #0f0d0d;
  font-size: 1.125em;
  font-weight: bold;
  margin-left: 1.25em;
}

.pMain section .disc .pOptions .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25em;
}

.pMain section .disc .pOptions .btns button {
  width: 48%;
  line-height: 2.5em;
  font-size: 0.875;
  vertical-align: center;
  border-radius: 1.875em;
  background-color: #fff;
  border: 1px solid #0f0d0d;
  cursor: pointer;
}

.pMain section .disc .pOptions .btns button:last-child {
  background-color: #0f0d0d;
  color: #fff;
  border: none;
}

.pMain section .disc .pOptions .btns button:hover {
  background-color: #3C6EBE;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pMain section .disc .pOptions .nPay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pMain section .disc .pOptions .nPay li {
  margin-left: 0.3125em;
}

.pMain section .disc .pOptions .nPay li img {
  height: 2.25em;
}

.pDisc {
  width: 100%;
}

.pDisc section {
  width: 60%;
}

.pDisc section > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pDisc section > header button {
  width: calc(100% / 3);
  line-height: 3.75em;
  border-radius: 1.875em 1.875em 0 0;
  border: 1px solid #fff;
  background-color: #0f0d0d;
}

.pDisc section > header button.on {
  background-color: #93ED51;
}

.pDisc section > header button.on a {
  color: #0f0d0d;
}

.pDisc section > header button.on:hover {
  background-color: #93ED51;
}

.pDisc section > header button:hover {
  background-color: #3C6EBE;
}

.pDisc section > header button a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.125em;
}

.pDisc section > article {
  background-color: #fff;
}

.pDisc section > article .title {
  text-align: center;
  padding: 3.2em 0;
}

.pDisc section > article .title span {
  color: #0f0d0d;
  line-height: 1.875em;
}

.pDisc section > article .title h4 {
  font-family: "lush";
  font-size: 2em;
  color: #fff;
  color: #0f0d0d;
  line-height: 2.4em;
}

.pDisc section > article .title h5 {
  color: #0f0d0d;
  font-size: 1.125em;
  line-height: 1.875em;
  font-weight: bold;
}

.pDisc section > article .pReview {
  width: 100%;
  position: relative;
}

.pDisc section > article .pReview .img img {
  width: 83%;
}

.pDisc section > article .pReview .txt {
  width: 47%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  padding: 1.875em;
}

.pDisc section > article .pReview .txt .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.pDisc section > article .pReview .txt .title h6 {
  color: #0f0d0d;
  line-height: 1.125em;
  font-weight: bold;
}

.pDisc section > article .pReview .txt .title p {
  line-height: 1.125em;
  padding: 0;
}

.pDisc section > article .pReview .txt .title p i {
  font-size: 1.125em;
  color: #0f0d0d;
}

.pDisc section > article .pReview .txt span {
  display: block;
  width: 100%;
  font-size: 0.75em;
  line-height: 1.875em;
  color: #707070;
}

.pDisc section > article .pReview .txt p {
  padding-top: 0.625em;
  font-size: 0.875em;
  line-height: 1.875em;
  color: #0f0d0d;
}

.pDisc section > article .discript {
  padding: 7.5em 0;
  text-align: center;
}

.pDisc section > article .discript p {
  color: #0f0d0d;
  line-height: 1.875em;
  padding-bottom: 1em;
}

.pDisc section > article .discript span {
  color: #707070;
  line-height: 1em;
}

.pDisc section > article .discript span strong {
  color: #707070;
  font-weight: bold;
}

.pDisc section > article img {
  width: 100%;
}

.pDisc section > article .ingredients {
  padding: 7.5em 3.75em 3.75em 3.75em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pDisc section > article .ingredients .txts h5 {
  color: #0f0d0d;
  font-weight: bold;
  font-size: 1.5em;
}

.pDisc section > article .ingredients .txts span {
  color: #707070;
  font-size: 0.875em;
  line-height: 1.25em;
  display: block;
  padding-top: 1em;
}

.pDisc section > article .ingredients .txts p {
  padding-top: 1em;
  color: #707070;
  font-size: 0.875em;
  line-height: 1.25em;
}

.pDisc section > article .ingredients .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pDisc section > article .ingredients .image img {
  width: 11.25em;
}

.pDisc section > article .ingredients .image h6 {
  font-size: 1em;
  color: #0f0d0d;
  font-weight: bold;
  padding-bottom: 0.3125em;
}

.pDisc section > article .ingredients .image span {
  color: #707070;
  font-size: 0.875em;
}

.pDisc section > article .special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3.75em 3.75em 3.75em;
}

.pDisc section > article .special .symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pDisc section > article .special .symbol img {
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.625em;
}

.pDisc section > article .special .symbol span {
  display: block;
  color: #707070;
  font-size: 0.875em;
  line-height: 1.25em;
}

.pDisc section > article .special .vegan img {
  width: 3em;
}

.pDisc section > article .animalRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  padding: 1.25em;
  margin: 0 3.75em;
}

.pDisc section > article .animalRight img {
  width: 2.5em;
  height: 4.625em;
  margin-right: 1.25em;
}

.pDisc section > article .animalRight .txts p {
  font-size: 0.75em;
  color: #0f0d0d;
  line-height: 1.25em;
}

.pDisc section > article .animalRight .txts span {
  display: block;
  width: 100%;
  text-align: right;
}

.pDisc section > article .animalRight .txts span a {
  text-decoration: underline;
  color: #0f0d0d;
  font-size: 0.75em;
}

.pDisc section > article .how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5em 3.75em 3.75em 3.75em;
}

.pDisc section > article .how .txts {
  width: 26.25em;
  margin-right: 3.75em;
}

.pDisc section > article .how .txts h5 {
  color: #0f0d0d;
  font-weight: bold;
  font-size: 1.5em;
}

.pDisc section > article .how .txts p {
  padding-top: 1em;
  color: #0f0d0d;
  font-size: 1em;
  line-height: 1.875em;
}

.pDisc section > article .how .image {
  width: 11.25em;
  height: 18.75em;
}

.pDisc section > article .keywords {
  padding: 0 3.75em 7.5em 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pDisc section > article .keywords button {
  font-size: 0.875em;
  color: #0f0d0d;
  padding: 0.625em 1.5625em;
  border: 1px solid #93ED51;
  border-radius: 1.875em;
  background-color: #fff;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
}

.pDisc section:nth-child(2) {
  padding-top: 3.75em;
}

.pDisc section:nth-child(2) > header {
  height: 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.625em;
}

.pDisc section:nth-child(2) > header h4 {
  font-family: "lush";
  font-size: 2em;
  line-height: initial;
}

.pDisc section:nth-child(2) .recommends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pDisc section:nth-child(2) .recommends > button {
  position: absolute;
  width: 4.6875vw;
  height: 6vh;
  top: -8vh;
  background-color: transparent;
  font-size: 0;
  padding: 0;
  border: 1px solid #0f0d0d;
}

.pDisc section:nth-child(2) .recommends > button:hover:after {
  background-color: #93ED51;
}

.pDisc section:nth-child(2) .recommends > button.slick-prev {
  right: 4.6875vw;
  border-radius: 30px 0 0 30px;
}

.pDisc section:nth-child(2) .recommends > button.slick-prev::after {
  content: '';
  display: block;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  background-position: center center;
  background-image: url(../images/left.arrow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
}

.pDisc section:nth-child(2) .recommends > button.slick-next {
  right: 0;
  border-radius: 0 30px 30px 0;
}

.pDisc section:nth-child(2) .recommends > button.slick-next::after {
  content: '';
  display: block;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 0 30px 30px 0;
  background-position: center center;
  background-image: url(../images/right.arrow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
}

.pDisc section:nth-child(2) .recommends .rProduct {
  width: calc(100% / 3);
}

.pDisc section:nth-child(2) .recommends .rProduct .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.pDisc section:nth-child(2) .recommends .rProduct .img img {
  width: 11.25em;
  height: 11.25em;
  z-index: 100;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts {
  position: relative;
  top: -3.75em;
  background-color: #fff;
  border-radius: 1.875em;
  padding: 3.125em 2em;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts:hover {
  border: 2px solid #93ED51;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts h5 {
  font-family: "lush";
  font-size: 1.5em;
  color: #0f0d0d;
  padding-bottom: 1.5em;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875em;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts ul li {
  font-size: 1em;
  color: #0f0d0d;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts ul li i {
  font-size: 1.25em;
  color: #93ED51;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts p {
  color: #0f0d0d;
  font-size: 0.875em;
  line-height: 1.875em;
  padding-bottom: 1.25em;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts .rStars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 0;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts .rStars li {
  font-size: 0.875em;
  margin-right: 0.3125em;
}

.pDisc section:nth-child(2) .recommends .rProduct .txts .rStars li img {
  width: 1.25em;
  height: 1.25em;
}

.pDisc section:nth-child(2) .recommends .rProduct .cart {
  width: 100%;
  position: relative;
  top: -3.75em;
}

.pDisc section:nth-child(2) .recommends .rProduct .cart button {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border: 1px solid #fff;
  border-radius: 1.875em;
  background-color: #0f0d0d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.pDisc section:nth-child(2) .recommends .rProduct .cart button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #93ED51;
}

.pDisc section:nth-child(3) article {
  background-color: #0f0d0d;
  border: 1px solid #fff;
  padding: 0 3.75em;
}

.pDisc section:nth-child(3) article header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5em;
  border-bottom: 1px solid #fff;
}

.pDisc section:nth-child(3) article header .txts h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.pDisc section:nth-child(3) article header .txts p {
  padding-top: 0.625em;
}

.pDisc section:nth-child(3) article header button {
  width: 7.5em;
  line-height: 2.5em;
  border: 1px solid #fff;
  background-color: #0f0d0d;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.pDisc section:nth-child(3) article header button:hover {
  border-radius: 1.875em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pDisc section:nth-child(3) article .review {
  padding: 1.875em 0;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pDisc section:nth-child(3) article .review:last-of-type {
  border: none;
}

.pDisc section:nth-child(3) article .review .info {
  width: 10em;
  margin-right: 3.75em;
}

.pDisc section:nth-child(3) article .review .info span {
  display: block;
  padding-bottom: 1.25em;
}

.pDisc section:nth-child(3) article .review .info span i {
  font-size: 0.875em;
}

.pDisc section:nth-child(3) article .review .info p {
  font-size: 0.875em;
  line-height: 1.25em;
  padding-bottom: 0.625em;
}

.pDisc section:nth-child(3) article .review .txts span {
  display: block;
  font-size: 0.875em;
  padding-bottom: 1.25em;
}

.pDisc section:nth-child(3) article .review .txts p {
  padding-bottom: 1.25em;
  font-size: 0.875em;
  line-height: 1.25em;
}

.pDisc section:nth-child(3) article .review .txts .images {
  padding-bottom: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pDisc section:nth-child(3) article .review .txts .images .image {
  width: 3.75em;
  height: 3.75em;
  background-color: #fff;
  background-image: url();
  margin-right: 0.625em;
}

.pDisc section:nth-child(3) article .review .txts .images .i1 {
  background-image: url("../images/review.i1.png");
  background-size: cover;
}

.pDisc section:nth-child(3) article .review .txts .images .i2 {
  background-image: url("../images/review.i2.png");
  background-size: cover;
}

.pDisc section:nth-child(3) article .review .txts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pDisc section:nth-child(3) article .review .txts ul li {
  font-size: 0.875em;
  margin-right: 1.25em;
}

.pDisc section:nth-child(3) article .review .txts ul li > span {
  display: inline;
  text-decoration: underline;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.pDisc section:nth-child(3) article .review .txts ul li:nth-child(2) {
  font-weight: bold;
}

.pDisc section:nth-child(3) article .review .txts ul li button {
  line-height: 1.5em;
  font-size: 0.875em;
  background-color: #0f0d0d;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.pDisc section:nth-child(3) article .review .txts ul li button:hover {
  background-color: #3C6EBE;
}

.pDisc section:nth-child(3) article .pages {
  padding: 1.875em 0 3.75em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pDisc section:nth-child(3) article .pages li {
  font-size: 1em;
  margin-right: 0.9375em;
  cursor: pointer;
}

.pDisc section:nth-child(3) article .pages li.current {
  text-decoration: underline;
  font-weight: bold;
}

.pDisc section:last-child article {
  padding: 3.75em;
}

.pDisc section:last-child article ul {
  list-style-type: disc;
}

.pDisc section:last-child article ul li {
  color: #0f0d0d;
  line-height: 1.25em;
  font-size: 0.875em;
}

.pDisc section:last-child article ul li p {
  color: #0f0d0d;
}

.pDisc section:last-child article table {
  border: 1px solid #707070;
  margin-top: 2.5em;
}

.pDisc section:last-child article table tr th {
  border: 1px solid #707070;
  padding: 1.25em 1.875em;
  color: #0f0d0d;
  font-size: 0.875em;
  font-weight: bold;
  background-color: #F5F5F5;
  vertical-align: middle;
  line-height: 1.25em;
}

.pDisc section:last-child article table tr td {
  border: 1px solid #707070;
  padding: 1.25em 1.875em;
  color: #0f0d0d;
  font-size: 0.875em;
  line-height: 1.25em;
}
