/*폰트어썸*/
/*색상변수 시작*/
$black : #0f0d0d;
$green : #93ED51;

/*font 시작*/
@font-face {
    src: url(../font/Lush.ttf);
    font-family: "lush";
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family mixins*/
$notoSans :'Noto Sans',
sans-serif;
$notoSansKR :'Noto Sans KR',
sans-serif;
$lush:"lush";

/*font 믹신을 include할 때 (폰트)*/
@mixin font($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color: $color;
}