@import "./common.scss";

div.content:first-of-type {
    &>section {
        padding-top: 12vh;

        .subMenuList2 {
            padding: 0 3.125vw;
            max-width: 1126px;
            height: 220px;


            ul {
                display: flex;
                align-items: baseline;

                &:first-child {
                    justify-content: start;

                    li {
                        margin-right: 2.08vw;
                    }
                }

                &:last-child {
                    justify-content: end;

                    li {
                        margin-left: 2.08vw;
                    }
                }

                li {
                    font-family: $lush;
                    line-height: 11.11vh;
                    color: #fff;
                    font-size: 2.45em;
                    transition: color, font-size 0.3s;

                    &:hover {
                        font-size: 3.43em;
                        color: $green;
                        background-image: url(../images/line.png);
                        background-repeat: no-repeat;
                        background-position: left bottom;
                    }
                }

                li.on {
                    font-size: 3.43em;
                    color: $green;
                    background-image: url(../images/line.png);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                }
            }
        }
    }
}

div.campaign {
    display: flex;

    .fixed {
        width: 40%;
        background-color: #fff;
        border-radius: 30px;
        padding: 5%;
        text-align: center;

        h2 {
            @include font($notoSansKR, 1.5em, $black);
        }

        h3 {
            @include font($notoSansKR, 0.875em, #707070);
            margin-top: 3%;
        }

        .form {
            display: flex;
            flex-direction: column;
            border: solid 1px #707070;
            border-radius: 30px;
            overflow: hidden;

            input {
                border: none;
                line-height: 3.750em;
                border-bottom: solid 1px #707070;
                padding: 0 5%;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

        .check {
            input {}

            @include font($notoSansKR, 0.875em, #707070);


        }

        button {
            width: 100%;
            line-height: 3.750em;
            border-radius: 30px;
            border: none;
            background-color: $black;
            @include font($notoSansKR, 0.875em, #fff)
        }
    }

    .scroll {
        width: 60%;
    }
}