@import "./V&M.scss";

div.campaign {
    width: 100%;
    display: flex;
    height: auto;

    .fixed {
        top: 12vh;
        position: sticky;
        height: calc(100vh - 12vh);
        width: 40%;
        background-color: $green;
        border-radius: 1.875em;
        padding: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h2 {
            @include font($notoSansKR, 1.5em, $black);
            line-height: 1.875em;

        }

        h3 {
            @include font($notoSansKR, 0.875em, $black);
            opacity: 0.6;
            line-height: 1.125em;
            margin-top: 3%;
        }

        .form {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border: solid 1px #707070;
            border-radius: 1.875em;
            overflow: hidden;

            input {
                border: none;
                line-height: 3.750em;
                border-bottom: solid 1px #707070;
                margin: 0 10%;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

        .check {
            text-align: left;

            input {}

            span {
                @include font($notoSansKR, 0.875em, $black);

                opacity: 0.6;
            }


        }

        button {
            width: 100%;
            line-height: 3.750em;
            border-radius: 1.875em;
            border: none;
            background-color: $black;
            @include font($notoSansKR, 0.875em, #707070);
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: #fff;
            }
        }
    }

    .scroll {
        width: 60%;
        background-color: #ffffff;
        border-radius: 1.875em;
        overflow: hidden;

        .img {
            width: 100%;
            overflow: hidden;
            /*임시*/
            height: 100vh;

            img {
                width: 100%;
            }
        }

        .txt {
            padding: 12%;

            p {
                @include font($notoSansKR, 0.875em, #707070);
                line-height: 1.875em;
                font-weight: 300;
                margin-top: 5%;

                &.stress {
                    font-weight: 400;
                }
            }

        }
    }
}
@media screen and (max-width:1024px){
    div.campaign{
        div.fixed{
            width: 50%;
            top:6vh;
            height: calc(100vh - 6vh);
            
        }
        div.scroll{
            width: 50%;
            .img{
                height: auto;
            }
        }
    }
}
@media screen and (max-width:768px) {
    div.campaign {
        width: 100%;
        display: block;
        height: auto;

        div.fixed {
            position: inherit;
            width: 100%;
        }

        div.scroll {
            width: 100%;

            .img {
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
    }
}