@import url('../css/jquery-ui.css');
@import url('../css/all.css');
@import '_V&M.scss';


body {
    background-color: $black;
    // display: flex;

    &>header {
        // width: 240px;
        width: 12.5vw;
        height: 100%;
        background-color: #0f0d0d;
        border-radius: 1.875em;
        transition: all 0.1s ease-out;
        position: fixed;
        border-right: solid 3px #fff;

        &:hover {
            background-color: $green;

            .logo {
                .logo_w {
                    display: none;
                }

                .logo_b {
                    display: block;
                }
            }

            .join li a {
                color: $black;
            }
        }

        .logo {
            width: 100%;
            height: 11.11vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                width: 45.83%;
            }

            .logo_w {
                display: block;
            }

            .logo_b {
                display: none;
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .mainMenuList {
            background-color: #fff;
            border-radius: 1.875em;

            &>li {
                text-align: center;
                background-color: $black;
                border-radius: 1.875em;
                line-height: 6vh;
                transition: all 0.3s;

                a {
                    /*폰트 고민*/
                    @include font($notoSans, 1.125em, #fff);
                }

                .subMenuList {
                    // display: none;
                    height: 0px;
                    overflow: hidden;
                    transition: all 0.3s;
                }

                &:hover {
                    // background-color: $green;
                    // background-color: #3C6EBE;
                    border-radius: 1.875em;
                    cursor: pointer;
                    a{
                        color:$green;

                    }
                    .subMenuList {
                        display: flex;
                        height: inherit;
                        flex-direction: column;
                        align-items: center;
                        padding: 2.77vh 0;
                        border-top: solid 1px #fff;
                        width: 83.3%;
                        margin: 0 auto;

                        li {
                            a {
                                display: block;
                                width: 100%;
                                line-height: 3.7vh;
                                @include font($notoSansKR, 1em, #fff);
                                font-weight: 300;
                            }

                            &:hover {
                                a {
                                    transition: all 0.2s;
                                    font-size: 1.125em;
                                    font-weight: 500;
                                }
                            }

                        }
                    }
                }
            }
        }

        .join {
            width: 100%;
            display: flex;
            padding: 0 10%;

            li {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    line-height: 5.5vh;
                    @include font($notoSans, 0.875em, #fff);
                }
            }
        }
    }
    div.topSub {
        padding-left: 12.5vw;
        /*location이랑 검색*/
        &>.topSub_T {
            position: fixed;
            z-index: 9999;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            width: calc(100% - 12.5vw);
            height: 12vh;
            padding: 2.5em 1.875em 1.25em 1.875em;
            color: #fff;
            background-color: $black;
            vertical-align: middle;


            .location {
                font-size: 0.875em;
                line-height: 5.55vh;
            }

            .cHeaderRight {
                display: flex;

                .icons {
                    display: flex;

                    li {
                        margin-right: 10px;

                        img {
                            width: 2.5em;
                            height: 2.5em;
                        }
                    }
                }

                .search {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 18.75em;
                        height: 100%;
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
        /*위쪽 서브메뉴*/
        &>.topSub_B {
            padding-top: 12vh;

            .subMenuList2 {
                padding: 0 3.125vw;

                ul {
                    display: flex;
                    align-items: baseline;

                    &:first-child {
                        justify-content: start;

                        li {
                            margin-right: 2.08vw;
                        }
                    }

                    &:last-child {
                        justify-content: end;

                        li {
                            margin-left: 2.08vw;
                        }
                    }

                    li {
                        font-family: $lush;
                        line-height: 11.11vh;
                        color: #fff;
                        font-size: 2.45em;
                        transition: color, font-size 0.3s;

                        &:hover {
                            font-size: 3.43em;
                            color: $green;
                            background-image: url(../images/line.png);
                            background-repeat: no-repeat;
                            background-position: left bottom;
                        }
                    }

                    li.on {
                        font-size: 3.43em;
                        color: $green;
                        background-image: url(../images/line.png);
                        background-repeat: no-repeat;
                        background-position: left bottom;
                    }
                }
            }
        }
    }

    div.content {
        width: 100%;
        // overflow: hidden;
        // padding-left: 240px;
        padding-left: 12.5vw;

        &.products {
            section {
                display: flex;
                // margin-top: 60px;

                article {
                    width: 25%;
                    display: grid;
                    grid-template-columns: 6fr 1fr;
                    grid-template-rows: calc(5fr - 3px) 1fr 1fr 1fr;
                    line-height: 3.750em;
                    border: solid 1px #fff;

                    .img {
                        grid-column: span 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 300px;
                        position: relative;
                        background-color: #fff;
                        overflow: hidden;

                        img {
                            height: 100%;
                        }

                        a {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }

                    .pName {
                        grid-column: span 2;
                        text-align: center;
                        @include font($lush, 1.688em, #fff);
                    }

                    .img,
                    .pName,
                    .cate,
                    .like {
                        border-bottom: solid 1px #fff;
                    }

                    span:not(.pName) {
                        display: flex;
                        align-items: center;
                        padding: 0 20px;
                        letter-spacing: 3px;
                    }

                    .cate,
                    .price {
                        justify-content: flex-end;
                        border-right: solid 1px #fff;
                    }

                    i {
                        cursor: pointer;
                        font-size: 1.313em;
                    }



                }
            }
        }

        .moreBtn {
            background: transparent;
            border: solid 1px #fff;
            padding: 0 24px;
            cursor: pointer;
            @include font($notoSansKR, 1em, #fff);
            font-weight: 300;
            line-height: 34px;
            transition: all 0.5s ease-out;
            opacity: 0.4;

            &:hover {
                opacity: 1;
                border-radius: 1.875em;
            }
        }
    }

}