@import "./common.scss";

$padding: 3%;

.contentWrap {
    width: 100%;

    .content {
        width: 100%;
        padding-top: 120px;

        header {
            position: inherit;
            width: 100%;
            display: block;
            text-align: center;
            height: inherit;
            padding: 0;
            margin: 0;

            h2 {
                @include font($lush, 2.625em, #fff);
                line-height: 7.4vh;
            }

            h3 {
                @include font($notoSansKR, 1.125em, #fff);
                line-height: 3.750em;
                font-weight: 400;

            }
        }

        &>section {
            margin-top: 30px;
        }

        &.main {
            padding-top: 0;
            height: 60.000em;
            display: flex;

            main {
                width: 60%;
                height: 100%;
                .slider {
                    height: 60%;
                    border-radius: 30px 30px 0 0;
                    overflow: hidden;

                    img {
                        height: 100%;
                    }
                }

                header {
                    height: 40%;
                    border-radius: 0 0 30px 30px;
                    display: flex;
                    justify-content: space-around;
                    background-color: #fff;
                    overflow: hidden;
                    padding: $padding 0;

                    h2 {
                        color: $black;
                        width: 50%;
                        align-self: center;
                        padding:0 $padding;
                    }

                    div {
                        padding:0 $padding;

                        border-left: solid 1px #000;
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        text-align: start;

                        h3,
                        h4,
                        button {
                            color: $black;
                            line-height: 1.875em;
                            
                        }

                        button {
                            border-color: $black;
                            align-self: flex-end;
                        }

                    }
                }
            }

            .articleWrap {
                width: 40%;
                height: 100%;

                display: flex;
                flex-direction: column;

                article {
                    background-color: #fff;
                    height: 100%;
                    border-radius: 30px;
                }
            }
        }

        &.bestProduct {}

        &.lips {
            display: flex;
            // height: 37.500em;

            header {
                width: 50%;
                border-radius: 30px;
                position: relative;
                overflow: hidden;
                display: flex;

                &::before {
                    z-index: -10;
                    opacity: 40%;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-image: url(../images/lips.jpeg);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: center;
                }

                padding: $padding;

                .texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    text-align: start;

                    h2 {
                        color: $green;
                    }

                    h3 {
                        color: $green;
                        font-weight: 300;
                    }
                }

                button {
                    align-self: flex-end;
                }
            }

            section {
                width: 50%;
                border-radius: 30px;
                padding: $padding;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                ul.lip_tabContent {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: solid 1px #fff;

                    li {
                        &.on {
                            display: block;
                        }

                        display: none;

                    }
                }

                ul.lip_tabMenu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;

                    li {
                        a {
                            line-height: 40px;
                            @include font($notoSans, 16px, rgb(200, 200, 200));
                            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
                            transition: all 0.3s ease-out;
                            display: block;
                            height: 100%;
                            width: 100%;
                        }

                        &.on {

                            a {
                                line-height: 180px;
                                color: $green;
                                font-size: 18px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }

        &.about {

            ul.tabMenu {

                display: flex;

                li {
                    width: 50%;
                    border-radius: 0 30px 0 0;
                    border: 1px solid #fff;

                    &.on {
                        background-color: #fff;
                        border-radius: 30px 0 0 0;

                        h2,
                        h3,
                        button {
                            color: $black;
                        }

                        button {
                            border: solid 1px $black;
                        }
                    }
                        h2,
                        h3,
                        button {
                            color: #707070;
                        }

                        button {
                            border: solid 1px #707070;
                        }

                    header {
                        padding: $padding;
                        text-align: start;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        .texts {
                            h2 {}

                            h3 {
                                line-height: 1.875em;
                            }

                            .btnWrap {}
                        }
                    }
                }
            }

            ul.tabContent {
                padding: $padding;
                border-radius: 0 0 30px 30px;
                border: 1px solid #fff;

                &>li {
                    display: none;

                    &.on {
                        display: flex;
                        justify-content: space-between;

                        .image {
                            width: 60%;
                            background-image: url(../images/weAreLush_01.jpeg);
                            background-repeat: no-repeat;
                        }

                        ul {
                            &:last-of-type {
                                li {
                                    text-align: end;
                                }
                            }

                            li {
                                span {
                                    line-height: 3.750em;
                                    @include font($notoSansKR, 1em, #fff)
                                }
                            }
                        }
                    }
                }
            }
        }

        &.bestReview {
            header {
                h2 {}

                h3 {}
            }

            section {
                display: flex;

                article {
                    width: 25%;
                    position: relative;

                    .img {
                        width: 100%;
                        height: 15.000em;
                        border-radius: 30px;
                        background-color: #fff;
                        padding:$padding;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 100%;
                        }
                    }

                    .txt {
                        border-radius: 30px;
                        background-color: #fff;
                        padding:$padding;

                        span {
                            display: flex;
                            font-display: column;
                            color: #707070;
                        }

                        .pName {
                            text-align: center;
                            @include font($lush, 1.688em, $black);
                            line-height: 1.875em;
                        }

                        .cate {
                            line-height: 1.125em;
                        }

                        .reviewTxt {
                            margin-top: 1.875em;
                            font-size: 1.125em;
                            line-height: 1.875em;
                            height: 1.875em;
                            color: $black;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: block;

                        }

                        .btm {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 30px;
                            line-height: 30px;

                            .date {}

                            .stars {
                                i {
                                    color: #707070;
                                }
                            }
                        }
                    }

                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
    }
}