/*색상변수 시작*/
$black : #0f0d0d;
$green : #93ED51;
/*font 시작*/
@font-face{
    src: url(../font/Lush.ttf);
    font-family: "lush";
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family mixins*/
$notoSans :'Noto Sans', sans-serif;
$notoSansKR :'Noto Sans KR', sans-serif;
$lush:"lush";
/*font 믹신을 include할 때 (폰트)*/
@mixin font($family,$size,$color){
    font-family: $family;
    font-size: $size;
    color: $color;
}

body{
    display: flex;
}
div.content{

    & > section{
        .subMenuList2{
            padding: 0 3.125vw;
            ul{
                display: flex;
                align-items: baseline;
                &:first-child{
                    justify-content: start;
                    li{
                        margin-right: 2.08vw;
                    }
                }
                &:last-child{
                    justify-content: end;
                    li{
                        margin-left: 2.08vw;
                    }
                }
                li{
                    font-family: $lush;
                    line-height: 11.11vh;
                    color: #fff;
                    font-size: 2.45em;
                    transition: color,font-size 0.3s;
                    &:hover{
                        font-size: 3.43em;
                        color: $green;
                        background-image: url(../images/line.png);
                        background-repeat: no-repeat;
                        background-position: left bottom;
                    }
                }
                li.on{
                    font-size: 3.43em;
                    color: $green;
                    background-image: url(../images/line.png);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                }
            }
        }
        .details{
            &>ul{
                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 30px;
                margin: 3.7vh 3.125vw 0 ;
                height: 5.8vh;
                li{
                    a{
                        display: block;
                        line-height: 5.55vh;
                        box-sizing: border-box;
                        padding: 0 2.08vw;
                        color: #fff;
                        background-color: $black;
                        border: 1px solid #fff;
                        border-radius: 30px;
                        &:hover{
                            background-color: #3C6EBE;
                            font-weight: bold;
                        }
                    }
                    &.on{
                        a{
                            background-color: $green;
                            color: $black;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .filter{
            padding: 0 3.125vw;
            .filterTitle{
                display: flex;
                justify-content: space-between;
                padding:0;
                li{
                    color: #fff;
                    line-height: 3.75em;
                    cursor: pointer;
                }
            }
            .filterSlider{
                padding: 2.77vh 0;
                display: flex;
                justify-content: space-between;
                &>li{
                    h4{
                        font-weight: bold;
                        font-size: 1em;
                        line-height: 2.45em;
                    }
                    .filterDetails{
                        display: flex;
                        ul{
                            li::before{
                                content:'○ ';
                            }
                            li.on::before{
                                content:'● ';
                            }
                            li{
                                cursor: pointer;
                                font-size: 0.875em;
                                line-height: 2.45em;
                            }
                            li.on{
                                color: $green;
                            }
                            li:hover{
                                color: $green;
                            }
                        }
                        ul:not(:last-child){
                            margin-right: 3.125vw;
                        }
                    }
                }
            }
            .order{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                li::before{
                    content:'○ ';
                }
                li.on::before{
                    content:'● ';
                }
                li{
                    cursor: pointer;
                    font-size: 0.875em;
                    line-height: 2.45em;
                }
                li.on{
                    color: $green;
                }
                li:hover{
                    color: $green;
                }
            }
        }
    }
}