@import "./V&M.scss";
div.topSub{
    & > .topSub_B{
        .details{
            &>ul{
                display: flex;
                align-items: center;
                margin: 3.7vh 3.125vw 0 ;
                height: 5.8vh;
                li{
                    background-color: #fff;
                    &:first-child{
                        border-radius: 1.875em 0 0 1.875em;
                    }
                    &:last-child{
                        border-radius: 0 1.875em 1.875em 0;
                    }
                    a{
                        display: block;
                        line-height: 5.55vh;
                        box-sizing: border-box;
                        padding: 0 20px;
                        color: #fff;
                        background-color: $black;
                        border: 1px solid #fff;
                        border-radius: 1.875em;
                        font-size: 1em;
                        &:hover{
                            background-color: #3C6EBE;
                            font-weight: bold;
                        }
                    }
                    &.on{
                        a{
                            background-color: $green;
                            color: $black;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .filter{
            padding: 0 3.125vw;
            .filterTitle{
                display: flex;
                justify-content: space-between;
                li{
                    color: #fff;
                    line-height: 3.75em;
                    cursor: pointer;
                }
            }
            .filterSlider{
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                &>li{
                    h4{
                        font-weight: bold;
                        font-size: 1em;
                        line-height: 2.45em;
                    }
                    .filterDetails{
                        display: flex;
                        ul{
                            li::before{
                                content:'○ ';
                            }
                            li.on::before{
                                content:'● ';
                            }
                            li{
                                cursor: pointer;
                                font-size: 0.875em;
                                line-height: 2.45em;
                            }
                            li.on{
                                color: $green;
                            }
                            li:hover{
                                color: $green;
                            }
                        }
                        ul:not(:last-child){
                            margin-right: 3.125vw;
                        }
                    }
                }
            }
            .order{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                padding-bottom: 20px;
                li::before{
                    content:'○ ';
                }
                li.on::before{
                    content:'● ';
                }
                li{
                    cursor: pointer;
                    font-size: 0.875em;
                    line-height: 2.45em;
                }
                li.on{
                    color: $green;
                }
                li:hover{
                    color: $green;
                }
            }
        }
    }
}
.products{
    i.fa-heart{
        color:$green;
    }
    div.more{
        display: flex;
        justify-content: center;
        margin: 3.75em 0;
        button{
            background-color: $green;
            padding: 0 4.16vw;
            line-height: 2.5em;
            color: $black;
            font-size: 1.125em;
            border-radius: 1.875em;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: #3C6EBE;
                color: #fff;
                transition: all ease-in 0.2s;
            }
        }
    }
}