/*색상변수 시작*/
$black : #0f0d0d;
$green : #93ED51;

/*font 시작*/
@font-face {
    src: url(../font/Lush.ttf);
    font-family: "lush";
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family mixins*/
$notoSans :'Noto Sans',
sans-serif;
$notoSansKR :'Noto Sans KR',
sans-serif;
$lush:"lush";

/*font 믹신을 include할 때 (폰트)*/
@mixin font($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color: $color;
}

.pMain{
    section{
        padding-top: 12vh;
        display: flex;
        .imageWrap{
            width: 60%;
            min-width: 700px;
            height: calc(100vh - 12vh);
            overflow: hidden;
            position: relative;
            .images{
                position: absolute;
                top: calc((100vh - 12vh) * -5);
                width: 100%;
                height: calc((100vh - 12vh) * 6);
                .image{
                    width: 100%; height: calc(100vh - 12vh);
                    @for $i from 1 through 6 {
                        &.i#{$i}{
                            background-image: url(../images/snowfairy.main#{$i}.png);
                        }
                    }
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            ul.imgBtns{
                position: absolute;
                top: 0; right: 1px;
                display: flex;
                justify-content: start;
                flex-direction: column;
                li{
                    width: 6.25vw;
                    min-width: 90px;
                    &.on{
                        img{
                            border: 2px solid $green;
                            opacity: 1;
                        }
                    }
                    img{
                        width: 100%; height: 100%;
                        border-radius: 1.875em;
                        cursor: pointer;
                        opacity: 0.8;
                        transition: all 0.1s;
                        &:hover{
                            opacity: 1;
                            border: 2px solid $green;
                        }
                    }
                }
            }
        }
        .disc{
            position: fixed;
            right: 0;
            width: calc((100% - 12.5vw) / 10 * 4);
            height: clac((100vh - 12vh));
            min-width: 463px;
            .pTitle{
                height: 18vh;
                min-height: 140px;
                background-color: $black;
                border-radius: 0 1.875em 1.875em 0;
                border: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                padding: 1.875em;
                .txt{
                    h3{
                        @include font($lush, 1.8em, #fff);
                        line-height: 1.8em;
                    }
                    ul{
                        display: flex;
                        margin-top: 0.3125em;
                        li{
                            font-size: 1em;
                            color: #ccc;
                            margin-right: 1em;
                            line-height: 1em;
                        }
                    }
                }
                .icons{
                    display: flex;
                    li{
                        font-size: 1.5em;
                        margin-left: 10px;
                        line-height: 2.5em;
                    }
                }
            }
            .pOptions{
                height: 70vh;
                border-radius: 0 1.875em 1.875em 0;
                background-color: #fff;
                padding: 1.875em;;
                overflow: auto;
                article{
                    display: flex;
                    justify-content: space-between;
                    .txts{
                        p{
                            color: $black;
                            font-size: 0.875em;
                            margin-bottom: 1em;
                            strong{
                                color: $black;
                                font-weight: bold;
                            }
                            span{
                                color: #6F7070;
                            }
                        }
                        &>ul{
                            display: flex;
                            align-items: center;
                            margin-bottom: 2.5em;
                            li{
                                height: 0.875em;
                                line-height: 1.25em;
                                font-size: 1.125em;
                                color: $black;
                                margin-right: 5px;
                                img{
                                    height: 100%;
                                }
                                
                            }
                        }
                    }
                    .image{
                        img{width: 8em;}
                    }
                }
                .amounts{
                    &>span{
                        color: #6F7070;
                        font-size: 0.875em;
                    }
                    ul{
                        display: flex;
                        margin-top: 0.625em;
                        li{
                            background-color: #fff;
                            border-top: 1px solid $black;
                            border-bottom: 1px solid $black;
                            padding-right: 0.625em;
                            &:first-child{
                                border-radius: 1.875em 0 0 1.875em;
                            }
                            &:last-child{
                                padding-right: 0;
                                border-radius: 0 1.875em 1.875em 0;
                            }
                            &>span{
                                display: block;
                                width: 100%; height: 100%;
                                border-radius: 1.875em;
                                line-height: 2.25em;
                                font-size: 0.875em;
                                padding: 0 1.5em;
                                background-color: $black;
                                color: #fff;
                            }
                        }
                        li.on{
                            span{
                                background-color: $green;
                                color: $black;
                            }
                        }
                    }
                }
                .selected{
                    border-top: 1px solid $black;
                    border-bottom: 1px solid $black;
                    margin-top: 1.25em;
                    padding: 0.625em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .count{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 15em;
                        border-radius: 1.875em;
                        padding: 0.3125em;
                        border: 1px solid $black;
                        li{
                            height: 1.625em;
                            color: $black;
                            line-height: 1.625em;
                        }
                    }
                    span{
                        color: $black;
                        line-height: 1.625em;
                        height: 1.625em;
                    }
                }
                .prices{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 1.25em 0;
                    &>li{
                        margin: 0.3125em 0;
                        span{
                            color: $black;
                            font-size: 0.875em;
                        }
                        strong{
                            color: $black;
                            font-size: 1.125em;
                            font-weight: bold;
                            margin-left: 1.25em;
                        }
                    }
                }
                .btns{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1.25em;
                    button{
                        width: 48%;
                        line-height: 2.5em;
                        font-size: 0.875;
                        vertical-align: center;
                        border-radius: 1.875em;
                        background-color: #fff;
                        border: 1px solid $black;
                        &:last-child{
                            background-color: $black;
                            color: #fff;
                            border: none;
                        }
                    }
                }
                .nPay{
                    display: flex;
                    justify-content: flex-end;
                    li{
                        margin-left: 0.3125em;
                        img{
                            height: 2.25em;
                        }
                    }
                }
            }
        }
    }
}

.pDisc{
    width: 100%;
    & section{
        width: 60%;
        &>header{
            display: flex;
            button{
                width: calc(100% / 3);
                line-height:3.75em;
                border-radius: 1.875em 1.875em 0 0;
                border: 1px solid #fff;
                background-color: $black;
                &.on{
                    background-color: $green;
                    a{
                        color: $black;
                    }
                }
                &:hover{
                    background-color: $green;
                    a{
                        color: $black;
                    }
                }
                a{
                    display: block;
                    width: 100%; height: 100%;
                    color: #fff;
                    text-align: center;
                    font-size: 1.125em;
                }
            }
        }
        &>article{
            background-color: #fff;
            .title{
                text-align: center;
                padding: 3.2em 0;
                span{
                    color: $black;
                    line-height: 1.875em;
                }
                h4{
                    @include font($lush, 2em, #fff);
                    color: $black;
                    line-height: 2.4em;
                }
                h5{
                    color: $black;
                    font-size: 1.125em;
                    line-height: 1.875em;
                    font-weight: bold;
                }
            }
            .pReview{
                width: 100%;
                position: relative;
                
                .img{
                    img{
                        width: 83%;
                    }
                }
                .txt{
                    width: 47%;
                    position: absolute;
                    right: 0; top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                    padding: 1.875em;
                    .title{
                        display: flex;
                        justify-content: space-between;
                        padding: 0;
                        h6{
                            color: $black;
                            line-height: 1.125em;
                            font-weight: bold;
                        }
                        p{
                            line-height: 1.125em;
                            padding: 0;
                            i{
                                font-size: 1.125em;
                                color: $black;
                            }
                        }
                    }
                    span{
                        display: block;
                        width: 100%;
                        font-size: 0.75em;
                        line-height: 1.875em;
                        color: #707070;
                    }
                    p{
                        padding-top: 0.625em;
                        font-size: 0.875em;
                        line-height: 1.875em;
                        color: $black;
                    }
                }
            }
            .discript{
                padding: 7.5em 0;
                text-align: center;
                p{
                    color: $black;
                    line-height: 1.875em;
                    padding-bottom: 1em;
                }
                span{
                    color: #707070;
                    line-height: 1em;
                    strong{
                        color: #707070;
                        font-weight: bold;
                    }
                }
            }
            img{
                width: 100%;
            }
            .ingredients{
                padding: 7.5em 3.75em 3.75em 3.75em;
                text-align: left;
                display: flex;
                justify-content: space-around;
                .txts{
                    h5{
                        color: $black;
                        font-weight: bold;
                        font-size: 1.5em;
                    }
                    span{
                        color: #707070;
                        font-size: 0.875em;
                        line-height: 1.25em;
                        display: block;
                        padding-top: 1em;
                    }
                    p{
                        padding-top: 1em;
                        color: #707070;
                        font-size: 0.875em;
                        line-height: 1.25em;
                    }
                }
                .image{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 11.25em;
                        
                    }
                    h6{
                        font-size: 1em;
                        color: $black;
                        font-weight: bold;
                        padding-bottom: 0.3125em;
                    }
                    span{
                        color: #707070;
                        font-size: 0.875em;
                    }
                }
            }
            .special{
                display: flex;
                justify-content: space-around;
                padding: 0 3.75em 3.75em 3.75em;
                .symbol{
                    display: flex;
                    img{
                        height: 2.5em;
                        width: 2.5em;
                        margin-right: 0.625em;
                    }
                    span{
                        display: block;
                        color: #707070;
                        font-size: 0.875em;
                        line-height: 1.25em;
                    }
                }
                .vegan{
                    img{
                        width: 3em;
                    }
                }
            }
            .animalRight{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F7F7F7;
                padding:1.25em;
                margin:0 3.75em;
                img{
                    width: 2.5em; height: 4.625em;
                    margin-right: 1.25em;
                }
                .txts{
                    p{
                        font-size: 0.75em;
                        color: $black;
                        line-height: 1.25em;
                    }
                    span{
                        display: block;
                        width: 100%;
                        text-align: right;
                        a{
                            text-decoration: underline;
                            color: $black;
                            font-size: 0.75em;
                        }
                    }
                }
            }
            .how{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 7.5em 3.75em 3.75em 3.75em;
                .txts{
                    width: 26.25em;
                    margin-right: 3.75em;
                    h5{
                        color: $black;
                        font-weight: bold;
                        font-size: 1.5em;
                    }
                    p{
                        padding-top: 1em;
                        color: $black;
                        font-size: 1em;
                        line-height: 1.875em;
                    }
                }
                .image{
                    width: 11.25em; height: 18.75em;
                }
            }
            .keywords{
                padding: 0 3.75em 7.5em 3.75em;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                button{
                    font-size: 0.875em;
                    color: $black;
                    padding: 0.625em 1.5625em;
                    border: 1px solid $green;
                    border-radius: 1.875em;
                    background-color: #fff;
                    margin-right: 0.625em;
                    margin-bottom: 0.625em;
                }
            }
        }
    }
    & section:nth-child(2){
        padding-top: 3.75em;
        &>header{
            height: 3.75em;
            display: flex;
            justify-content: space-between;
            padding: 0 0.625em;
            h4{
                font-family: $lush;
                font-size: 2em;
                line-height: initial;
            }
            ul{
                display: flex;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.25em 1.875em;
                    border: 1px solid #fff;
                    border-radius: 0 1.875em 1.875em 0;
                    cursor: pointer;
                    &:first-child{
                        border-radius: 1.875em 0 0 1.875em;
                        border-right: none;
                    }
                    &:hover{
                        background-color: $green;
                    }
                    img{
                        height: 1.125em;
                    }
                }
            }
        }
        .recommends{
            display: flex;
            .rProduct{
                width: calc(100% / 3);
                .img{
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    img{
                        width: 11.25em; height: 11.25em;
                        z-index: 100;
                    }
                }
                .txts{
                    position: relative;
                    top: -3.75em;
                    background-color: #fff;
                    border-radius: 1.875em;
                    padding: 3.125em 2em;
                    &:hover{
                        border: 2px solid $green;
                    }
                    h5{
                        font-family: $lush;
                        font-size: 1.5em;
                        color: $black;
                        padding-bottom: 1.5em;
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 1.875em;
                        li{
                            font-size: 1em;
                            color: $black;
                            i{
                                font-size: 1.25em;
                                color: $green;
                            }
                        }
                    }
                    p{
                        color: $black;
                        font-size: 0.875em;
                        line-height: 1.875em;
                        padding-bottom: 1.25em;
                    }
                    .rStars{
                        display: flex;
                        justify-content: flex-start;
                        padding-bottom: 0;
                        li{
                            font-size: 0.875em;
                            margin-right: 0.3125em;
                            img{
                                width: 1.25em; height: 1.25em;
                            }
                        }
                    }
                }
                .cart{
                    width: 100%;
                    position: relative;
                    top: -3.75em;
                    button{
                        width: 100%;
                        text-align: center;
                        padding: 20px 0; 
                        border: 1px solid #fff;
                        border-radius: 1.875em;
                        background-color: $black;
                        color: #fff;
                        font-weight: bold;
                        cursor: pointer;
                        &:hover{
                            background-color: $green;
                        }
                    }
                }
            }
        }
    }
    & section:nth-child(3){
        article{
            background-color: $black;
            border: 1px solid #fff;
            padding: 0 3.75em;
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 7.5em;
                border-bottom: 1px solid #fff;
                .txts{
                    h4{
                        font-size: 1.5em;
                        font-weight: bold;
                    }
                    p{
                        padding-top: 0.625em;
                    }
                }
                button{
                    width: 7.5em;
                    line-height: 2.5em;
                    border: 1px solid #fff;
                    background-color: $black;
                    color: #fff;
                    font-size: 1em;
                    cursor: pointer;
                    &:hover{
                        background-color: #3C6EBE;
                    }
                }
            }
            .review{
                &:last-of-type{
                    border: none;
                }
                padding: 1.875em 0;
                border-bottom: 1px solid #fff;
                display: flex;
                .info{
                    width: 10em;
                    margin-right: 3.75em;
                    span{
                        i{
                            font-size: 0.875em;
                        }
                        display: block;
                        padding-bottom: 1.25em;
                    }
                    p{
                        font-size: 0.875em;
                        line-height: 1.25em;
                        padding-bottom: 0.625em;
                    }
                }
                .txts{
                    span{
                        display: block;
                        font-size: 0.875em;
                        padding-bottom: 1.25em;
                    }
                    p{
                        padding-bottom: 1.25em;
                        font-size: 0.875em;
                        line-height: 1.25em;
                    }
                    .images{
                        padding-bottom: 1.25em;
                        display: flex;
                        .image{
                            width: 3.75em; height: 3.75em;
                            background-color: #fff;
                            background-image: url();
                            margin-right: 0.625em;
                        }
                        @for $i from 1 through 2 {
                            .i#{$i}{
                                background-image: url('../images/review.i#{$i}.png');
                                background-size: cover;
                            }
                        }
                    }
                    ul{
                        display: flex;
                        align-items: center;
                        li{
                            font-size: 0.875em;
                            margin-right: 1.25em;
                            &>span{
                                display: inline;
                                text-decoration: underline;
                                font-size: 1em;
                                font-weight: bold;
                                cursor: pointer;
                            }
                            &:nth-child(2){
                                font-weight: bold;
                            }
                            button{
                                line-height: 1.5em;
                                font-size: 0.875em;
                                background-color: $black;
                                border: 1px solid #fff;
                                color: #fff;
                                cursor: pointer;
                                &:hover{
                                    background-color: #3C6EBE;
                                }
                            }
                        }
                    }
                }
            }
            .pages{
                padding: 1.875em 0 3.75em 0;
                width: 100%;
                display: flex;
                justify-content: center;
                li{
                    font-size: 1em;
                    margin-right: 0.9375em;
                    cursor: pointer;
                    &.current{
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    & section:last-child{
        article{
            padding: 3.75em;
            ul{
                list-style-type: disc;
                li{
                    color: $black;
                    line-height: 1.25em;
                    font-size: 0.875em;
                    p{
                        color: $black;
                    }
                }
            }
            table{
                border: 1px solid #707070;
                margin-top: 2.5em;
                tr{
                    th{
                        border: 1px solid #707070;
                        padding: 1.25em 1.875em;
                        color: $black;
                        font-size: 0.875em;
                        font-weight: bold;
                        background-color: #F5F5F5;
                        vertical-align: middle;
                        line-height: 1.25em;
                    }
                    td{
                        border: 1px solid #707070;
                        padding: 1.25em 1.875em;
                        color: $black;
                        font-size: 0.875em;
                        line-height: 1.25em;
                    }
                }
            }
        }
    }
}