/*색상변수 시작*/
$black : #0f0d0d;
$green : #93ED51;

/*font 시작*/
@font-face {
    src: url(../font/Lush.ttf);
    font-family: "lush";
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family mixins*/
$notoSans :'Noto Sans',
sans-serif;
$notoSansKR :'Noto Sans KR',
sans-serif;
$lush:"lush";

/*font 믹신을 include할 때 (폰트)*/
@mixin font($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color: $color;
}

.pMain{
    section{
        padding-top: 12vh;
        display: flex;
        .images{
            width: 60%;
            min-width: 700px;
            height: calc(100vh - 12vh);
            .image{
                display: flex;
                justify-content: end;
                background-image: url(../images/snowfairy.main6.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%; height: 100%;
                ul.imgBtns{
                    display: flex;
                    justify-content: start;
                    flex-direction: column;
                    li{
                        width: 6.25vw;
                        min-width: 90px;
                        height: 11.111vh;
                        min-height: 90px;
                        &.on{
                            img{
                                border: 2px solid $green;
                                opacity: 1;
                            }
                        }
                        img{
                            width: 100%; height: 100%;
                            border-radius: 30px;
                            cursor: pointer;
                            opacity: 0.8;
                            transition: all 0.1s;
                            &:hover{
                                opacity: 1;
                                border: 2px solid $green;
                            }
                        }
                    }
                }
            }
            
        }
        .disc{
            width: 40%;
            min-width: 463px;
            .pTitle{
                height: 18vh;
                min-height: 140px;
                background-color: $black;
                border-radius: 0 30px 30px 0;
                border: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                padding: 4% 3%;
                .txt{
                    h3{
                        @include font($lush, 1.8em, #fff);
                        line-height: 2.5em;
                    }
                    ul{
                        display: flex;
                        li{
                            font-size: 1em;
                            color: #ccc;
                            margin-right: 1em;
                            line-height: 1em;
                        }
                    }
                }
                .icons{
                    display: flex;
                    li{
                        font-size: 1.5em;
                        margin-left: 10px;
                        line-height: 2.5em;
                    }
                }
            }
            .pOptions{
                height: calc(100% - 16.66vh);
                border-radius: 0 30px 30px 0;
                background-color: #fff;
                padding: 5% 3%;
                article{
                    display: flex;
                    justify-content: space-between;
                    .txts{
                        p{
                            color: $black;
                            font-size: 0.875em;
                            margin-bottom: 1em;
                            strong{
                                color: $black;
                                font-weight: bold;
                            }
                            span{
                                color: #6F7070;
                            }
                        }
                        &>ul{
                            display: flex;
                            align-items: center;
                            margin-bottom: 2.5em;
                            li{
                                height: 0.875em;
                                line-height: 1.25em;
                                font-size: 1.125em;
                                color: $black;
                                margin-right: 5px;
                                img{
                                    height: 100%;
                                }
                                
                            }
                        }
                    }
                    .image{
                        img{width: 8em;}
                    }
                }
                .amounts{
                    margin-bottom: 1.875em;
                    &>span{
                        color: #6F7070;
                        font-size: 0.875em;
                    }
                    ul{
                        display: flex;
                        margin-top: 0.625em;
                        li{
                            background-color: #fff;
                            border-top: 1px solid $black;
                            border-bottom: 1px solid $black;
                            padding-right: 0.625em;
                            &:first-child{
                                border-radius: 30px 0 0 30px;
                            }
                            &:last-child{
                                padding-right: 0;
                                border-radius: 0 30px 30px 0;
                            }
                            &>span{
                                display: block;
                                width: 100%; height: 100%;
                                border-radius: 30px;
                                line-height: 2.25em;
                                font-size: 0.875em;
                                padding: 0 1.5em;
                                background-color: $black;
                                color: #fff;
                            }
                        }
                        li.on{
                            span{
                                background-color: $green;
                                color: $black;
                            }
                        }
                    }
                }
                .selected{
                    border-top: 1px solid $black;
                    border-bottom: 1px solid $black;
                    padding: 0.625em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .count{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 15em;
                        border-radius: 30px;
                        padding: 0.3125em;
                        border: 1px solid $black;
                        li{
                            height: 1.625em;
                            color: $black;
                            line-height: 1.625em;
                        }
                    }
                    span{
                        color: $black;
                        line-height: 1.625em;
                        height: 1.625em;
                    }
                }
                .prices{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 1.25em 0;
                    &>li{
                        margin: 0.3125em 0;
                        span{
                            color: $black;
                            font-size: 0.875em;
                        }
                        strong{
                            color: $black;
                            font-size: 1.125em;
                            font-weight: bold;
                            margin-left: 1.25em;
                        }
                    }
                }
                .btns{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1.25em;
                    button{
                        width: 48%;
                        line-height: 2.5em;
                        font-size: 0.875;
                        vertical-align: center;
                        border-radius: 30px;
                        background-color: #fff;
                        border: 1px solid $black;
                        &:last-child{
                            background-color: $black;
                            color: #fff;
                            border: none;
                        }
                    }
                }
                .nPay{
                    display: flex;
                    justify-content: flex-end;
                    li{
                        margin-left: 0.3125em;
                        img{
                            height: 2.25em;
                        }
                    }
                }
            }
        }
    }
}

.pDisc{
    width: 100%;
    & section{
        width: 60%;
        &>header{
            display: flex;
            button{
                width: calc(100% / 3);
                line-height:3.75em;
                border-radius: 30px 30px 0 0;
                border: 1px solid #fff;
                background-color: $black;
                &.on{
                    background-color: $green;
                    a{
                        color: $black;
                    }
                }
                a{
                    display: block;
                    width: 100%; height: 100%;
                    color: #fff;
                    text-align: center;
                    font-size: 1.125em;
                }
            }
        }
        &>article{
            background-color: #fff;
            .title{
                text-align: center;
                padding: 3.2em 0;
                span{
                    color: $black;
                    line-height: 1.875em;
                }
                h4{
                    @include font($lush, 2em, #fff);
                    color: $black;
                    line-height: 2.4em;
                }
                h5{
                    color: $black;
                    font-size: 1.125em;
                    line-height: 1.875em;
                    font-weight: bold;
                }
            }
            .pReview{
                .img{
                    img{
                        height: 26.25em;
                    }
                }
                .txt{}
            }
        }
    }
}